[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git@github.com:getpelican/pelican-plugins.git
[submodule "content/talks/failure-seeking-missiles-talk-repo"]
	path = content/talks/failure-seeking-missiles-talk-repo
	url = git@github.com:tomviner/failure-seeking-missiles-talk.git
	branch = master
[submodule "content/talks/exploring-unittesting-talk-repo"]
	path = content/talks/exploring-unittesting-talk-repo
	url = git@github.com:tomviner/exploring-unittesting-talk.git
	branch = master
