.social a[href*='lanyrd.com'] {background-image: url('../images/icons/lanyrd.png');}
.social a[href*='bitbucket.com'] {background-image: url('../images/icons/bitbucket.png');}

#extras .extras_col {
        float: right;
        width: 175px;
    }

#extras .extras_col time {
    font-size: 12px;
    color: #C74350;
    }

.post-info {
    max-width: 300px;
    word-wrap: break-word;
}

.taglist a {
    padding-right: 3px;
}
